/* CSS style sheet for hangman */

/*header {
	height:150px;
	width:80%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 18px;
}

.container {
	width:100%;
	font-family: Helvetica, Times New Roman, san-serif;
}



.scoreboard {
	border:solid black;
	width:50%
	height:500px;
	margin:50px auto;
	text-align: center;
	color:black;
}

.guessLines {
	height:125px;
	width:50%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 70px;
}

.right {
	height:125px;
	width:50%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 16px;
}

.no	{
	height:125px;
	width:50%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 16px;
}


*/

/*Everything above here is for non-bootstrap if I decide to go that route 
*/
.jumbotron {
	color:black;
/*	background-image: url(http://www.abystyle.com/c/121-category_default/star-trek.jpg)
*//*	background-repeat: no-repeat;
	background-position: left;
	*/
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
 #mainPic {
 	width:100%;
 	height:auto;
 }

 #smallPic {
 	margin-top:10px;
 	margin-left:auto;
 	margin-right:auto;
 	display:block;
 }
.container {
/*	background-color: gray;
*/	font-family: Helvetica, Times New Roman, san-serif;
	width:100%;
	padding-bottom: 55px;
}

.left {
	margin:5px 5px 5px 5px;
	border:solid black 1px;
	height:400px;
}

.mid {
	
}

.right {
	margin:5px 5px 5px 5px;
	border:solid black 1px;
	height:400px;
}




