/* CSS style sheet for hangman */


.jumbotron {
	color:black;
/*	background-image: url(http://www.abystyle.com/c/121-category_default/star-trek.jpg)
	background-repeat: no-repeat;
	background-position: left;
	*/
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
h1 {
	font-size: 50px;
	border-bottom: solid 1px black;
	color:#5192c9;
}
h2 {
	border-bottom: 1px solid white;
	padding-top: 0px;
	margin-top: 5px;
}

 #mainPic {
 	width:100%;
 	height:auto;
 }

 #smallPic {
 	margin-top:10px;
 	margin-left:auto;
 	margin-right:auto;
 	display:block;
 }
 #word-lines {
 	margin-top:5px;
 	font-size: 30px;
 }
 #caption {
 	padding-top:10px;
 }
/* #guessed {
 	float:right;
 }
 #wins {
 	float:right;
 }
 #remaining {
 	float:right;
 }*/

.container {
/*	background-color: gray;
*/	font-family: Helvetica, Times New Roman, san-serif;
	width:100%;
	padding-bottom: 55px;
}

.left {
	margin:5px 5px 5px 5px;
	border:solid black 1px;
	height:300px;
}

.mid {
	
}

.right {
	margin:5px 5px 5px 5px;
	border:solid black 1px;
	height:300px;
}
#instr {
	animation-name: morph;
	animation-duration: 4s;
	animation-delay: 1s;
}
/* CSS animation */

@keyframes morph {
    0%   {color: red;}
    25%  {color: #ddb743;}
    50%  {color: #5192c9;}
    100% {color: #ddb743;}
    25% {font-size: 20px;}
}

/*Everything below here is for non-bootstrap if I decide to go that route 
*/
/*header {
	height:150px;
	width:80%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 18px;
}

.container {
	width:100%;
	font-family: Helvetica, Times New Roman, san-serif;
}



.scoreboard {
	border:solid black;
	width:50%
	height:500px;
	margin:50px auto;
	text-align: center;
	color:black;
}

.guessLines {
	height:125px;
	width:50%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 70px;
}

.right {
	height:125px;
	width:50%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 16px;
}

.no	{
	height:125px;
	width:50%;
	text-align: center;
	margin:50px auto;
	border: solid;
	font-size: 16px;
}


*/






